<div class="footer">
    <div class="wrapper">
        <div class="links">
            <strong><a href="/about" class="dark" target="_self">About</a> &nbsp; <span class="snow">·</span> &nbsp; <a href="/faq" class="dark" target="_self">FAQ</a> &nbsp; <span class="snow">·</span>  &nbsp; <a href="/tools" class="dark" target="_self">Tools</a> &nbsp; <span class="snow">·</span> &nbsp; <%- onlineUserNumber + 1%> Online</strong>
        </div>
        <div class="info">
            <% let date = new Date(); const year = date.getFullYear();%>
            © <%= year%> <a href="//<%= config.domain %>"><%=config.author%></a>.<%- config.extra_footer_text %>
            Powered by <a href="https://github.com/songquanpeng/v2ex">songquanpeng/v2ex</a>.
        </div>
        <div class="info">
            Memory occupied: <%= (process.memoryUsage().rss / (1024 *1024)).toFixed(2) %> MB
        </div>
        <div class="info">
            <%= config.description %>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/highlight.min.js"></script>
<script>
  let socket = io();
  hljs.initHighlightingOnLoad();
</script>
<%- config.extra_footer_code %>
</body>
</html>
