<!DOCTYPE html>
<html lang="<%=config.language%>">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%if(page !== undefined){%>
    <title><%= page.title %></title>
    <meta name="description" content="<%= page.description %>"/>
    <%} else{%>
    <title><%= config.title %></title>
    <meta name="description" content="<%= config.description %>"/>
    <%}%>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="stylesheet" href="/custom.css" />
    <link rel="stylesheet" href="<%= config.code_theme %>" media="none" onload="this.media='all'">
    <link rel="shortcut icon" href="/v2ex.png">
    <%- config.extra_header_code %>
</head>
<body>