<%- include('./partials/header') %>
<%- include('./partials/nav')%>

<div class="main">
    <div class="wrapper">
        <div class="middle-col">
            <div class="main-content box" style="border-bottom: 0">
                <div class="header"><a href="/">Home</a> <span class="chevron">&nbsp;›&nbsp;</span> <%= page.tag %></div>
                <div class="header">
                    <div class="title">
                        <%= page.title %>
                    </div>
                    <div class="info">
                        <a href="/member/<%= page.username %>"><%= page.username %></a>
                        &nbsp;•&nbsp;
                        <%= page.post_time %>
                        &nbsp;•&nbsp;
                        <%= page.view %> views
                    </div>
                </div>
                <div class="cell">
                    <%-page.converted_content%>
                </div>
                <div class="bottom">
                    <a href="">Share</a>
                    <a href="">Ignore</a>
                    <a href="">Thank</a>
                </div>
            </div>

            <div class="replies">
                <div class="cell">
                    <span class="gray"><%= comments ? comments.length : 0 %> replies &nbsp;<strong class="snow">•</strong> &nbsp;<%= page.post_time %></span>
                </div>
                <% if (comments){ comments.forEach((comment)=>{ %>
                    <div class="cell" style="padding: 0">
                        <div class="reply-item">
                            <img src="<%= comment.user_avatar ? comment.user_avatar : '/static/default_avatar.png' %>" class="avatar" alt="">
                            <div class="reply-item-content">
                                <div class="info" style="margin-top: 0">
                                    <strong><a href="/member/<%= comment.username %>" class="username"><%= comment.username %></a></strong>
                                    &nbsp;•&nbsp;
                                    <%= comment.post_time %>
                                </div>
                                <div class="reply-content">
                                    <%- comment.content ? comment.content : "No content" %>
                                </div>
                            </div>
                        </div>
                    </div>
                <% })} %>
            </div>

            <%- include('./partials/comment')%>
        </div>
        <div class="right-bar">
            <%- include('./partials/panel') %>
        </div>
    </div>
</div>

<%- include('./partials/footer') %>
