<%- include('./partials/header') %>
<%- include('./partials/nav')%>

<div class="main">
    <div class="wrapper">
        <div class="main-content box">
            <div class="header"><a href="/">V2EX</a> <span class="chevron">&nbsp;›&nbsp;</span> 登录</div>
            <% if(message.length) {%>
                <div class="message">
                    <%= message %>
                </div>
            <% }%>
            <form method="post" action="/api/user/login">
                <label for="username-input">用户名</label>
                <br>
                <input type="text" id="username-input" class="input" name="username" autofocus>
                <br>
                <label for="password-input">密码</label>
                <br>
                <input type="password" id="password-input" class="input" name="password">
                <br>
                <div class="gray" style="margin-bottom: 6px">你是机器人么？看起来不像。</div>
                <input type="submit" class="button" value="登录">
            </form>
        </div>
        <div class="right-bar">
            <%- include('./partials/panel') %>
        </div>
    </div>
</div>

<%- include('./partials/footer') %>
